@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    /** SIDEBAR SIZE */
    --w-sidebar: 80px;
    --w-sidebar-expand: 280px;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--Rounded, 100px);
  background: var(--200, #4b6cb7);
}

@keyframes flicker {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}
